nav{
    background-image:linear-gradient(to right, #333333, #cccccc);
    height: 60px;
    top:0;left:0;right:0;
    position: fixed;
    z-index: 1;
}
 
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    margin: 0 7px;
}
nav .logo {
    line-height: 60px;
    float: left;
    margin: 0 30px;
    text-decoration: none;
}
nav .logo span{
    color: white;  
    font-size: 30px;
    font-weight: bold;
 
    padding: 10px;
    border-radius: 10px;
}
#check{
    display: none;
}
.checkbtn{
    float: right;
    color: white;
    font-size: 40px;
    line-height: 60px;
    margin-right: 30px;
    display: none;
}
/*Dropdown start*/
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: gray;
    min-width: 120px;
    display: none;
    border: 3px solid #303030;
}
.dropdown-menu a{
    font-size: 16px;
    padding: 12px 16px;
    display: block;
    margin: 0;
}
.dropdown:hover .dropdown-menu{
    display: block;
 
}
.dropdown:hover a:hover{
    background-color: gray;
    border-radius: 5px;
    border: 2px solid black;
}
.bi-caret-down-fill {
    font-size: 12px;
}
/* Dropdown end */
 
/* for small devices */
@media screen and (max-width:768px){
    .checkbtn{
        display: block;
    }
    nav ul li{
        display: block;
        margin-top:20px;
    }
    nav ul{
        background-color: rgb(242, 239, 239);
        text-align: center;
        padding: 0;
        width: 100%;
        height: 250px;
        position: fixed;
        top: 50px;
        left: -100%;  
        margin-top: 0.1px;
        
    }
    nav ul li a {
        color:black;
    }
    #check:checked ~ ul{
        left:0;
    }
    .dropdown-menu{
        left: 45%;
        top: 25px;
    }
}