body {
    margin: 0;

}



.hero {
    background-size: cover;
    color: black;
    text-align: center;
    padding: 20px 0;
}

.container {
    padding: 20px;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;
}
li{
    text-decoration: none;
}
footer{
    position: fixed;
}